html,
body {
  height: 100%;
  margin: 0;
  background-color: white;
  color: black;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

table {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

thead{
  background-color: #D1D119;
  color: white;
}

::-webkit-scrollbar{
  width: 7px;
}

::-webkit-scrollbar-track{
 background: white;
}

::-webkit-scrollbar-thumb{
  background: #D1D119;
}

::-webkit-scrollbar-thumb:hover{
  background: #a9a91e;
}

.table-hover thead tr:hover th, .table-hover tbody tr:hover td{
  background-color: #dfdf15;
  color:green;
}

.nav-item>a:hover {
  color: green;
}

.stat_container{
  width: 125px;
  height: 100px;
  box-shadow: 0 0px 12px 0 rgba(1, 1, 1, 0.751);
  margin: 10px;
  border-radius: 15%;
  color: grey;
}

.stat_container:hover{
  color: white;
  background-color: #D1D119;
}

#animated_text{
  background-image: url(https://cdn.pixabay.com/photo/2017/03/05/18/08/texture-2119294__340.jpg);
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin: 0px;
  padding: 0px;
  font-size: 200px;
}

@media only screen and (max-width: 767px) {
  #animated_text{
    font-size: 60px;
  }
  canvas{
    width: 100%;
  }
}

@media (max-aspect-ratio: 16/9) and (min-width: 767px) {

  #animated_text{
    font-size: 110px;
  }
  canvas{
    width: 80%;
  }
}